/* Begin User Avatar */
.user-avatar__thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: calc(0.5em * var(--border-scale, 1));
    border-radius: 50%;
    font-size: var(--font-size);
    background: var(--user-avatar-bg);
    rotate: -45deg;
}

.user-avatar__img {
    display: block;
    width: 9em;
    height: 9em;
    padding: calc(0.4em * var(--border-scale, 1));
    border-radius: 50%;
    object-fit: cover;
    rotate: 45deg;
    background: var(--white-color);
}
/* End User Avatar */
